<div id="fw_al_007" class="carousel ps_rotate_scale_c ps_indicators_l ps_control_rotate_f swipe_x ps_easeOutQuint"
    data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#fw_al_007" data-slide-to="0" class="active"></li>
        <li data-target="#fw_al_007" data-slide-to="1"></li>
        <li data-target="#fw_al_007" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

        <!-- First Slide -->
        <div class="carousel-item active">

            <!-- Slide Background -->
            <img src="https://scontent.fcbr2-1.fna.fbcdn.net/v/t1.0-9/35545495_387604691759943_54429390397767680_n.jpg?_nc_cat=106&_nc_oc=AQnueKBRtIqkWA2b1--FFz9PbtHiaCCXg1Ye2paUNIDkQ0espn8b40iv4KgkyqANQE0&_nc_ht=scontent.fcbr2-1.fna&oh=a66da40a429cc6547435f3949264ab4e&oe=5DF7176F" alt="fw_al_007_01">

            <!-- Slide Text Layer -->
            <div class="fw_al_007_slide">
                <h3 data-animation="animated flipInX">my restaraunt</h3>
                <h1 data-animation="animated flipInX"><span>AWESOME</span> Food</h1>
                <p data-animation="animated flipInX">Vestibulum et urna aliquam pretium urna nec dapibus vehicula tellus
                </p>
                <a href="#" data-animation="animated flipInX">Our Menu</a>
            </div>
        </div>
        <div class="carousel-item">

            <!-- Slide Background -->
            <img src="https://scontent.fcbr2-1.fna.fbcdn.net/v/t1.0-9/66465449_634585277061882_8895897565266968576_n.jpg?_nc_cat=106&_nc_oc=AQl7hAL3nZ5WBj3zse18k9K9nuyBqM23w22DN5AhUloLLvqSatNxzhrk-Zd-kWIrwzk&_nc_ht=scontent.fcbr2-1.fna&oh=c476950c65f5184e765f0067d89dcb2f&oe=5DF45BC7" alt="fw_al_007_02">

            <!-- Slide Text Layer -->
            <div class="fw_al_007_slide">
                <h3 data-animation="animated flipInX">Reservations</h3>
                <h1 data-animation="animated flipInX"><span>Reserve</span> your table</h1>
                <p data-animation="animated flipInX">Vestibulum et urna aliquam pretium urna nec dapibus vehicula
                    tellus</p>
                <a href="#" data-animation="animated flipInX">Reserve Table</a>
            </div>

        </div>
        <div class="carousel-item">

            <!-- Slide Background -->
            <img src="https://scontent.fcbr2-1.fna.fbcdn.net/v/t1.0-9/46844888_503346586852419_3944689932504662016_n.jpg?_nc_cat=109&_nc_oc=AQnV71x5nlEdQjoeI9-nYqpi4_fnVSthJghMcC3wDzbRBfy9asF3Zg8r6ROuKdIMLcU&_nc_ht=scontent.fcbr2-1.fna&oh=46bc01505c671cec2bd3734dd5d40303&oe=5E1050F2" alt="fw_al_007_03">

            <!-- Slide Text Layer -->
            <div class="fw_al_007_slide">
                <h3 data-animation="animated flipInX">Event's</h3>
                <h1 data-animation="animated flipInX"><span>Catering</span> Service</h1>
                <p data-animation="animated flipInX">Vestibulum et urna aliquam pretium urna nec dapibus vehicula tellus
                </p>
                <a href="#" data-animation="animated flipInX">Contact Us</a>
            </div>
        </div>
    </div>