
<div id="fw_al_007" class="carousel ps_rotate_scale_c ps_indicators_l ps_control_rotate_f swipe_x ps_easeOutQuint"
    data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#fw_al_007" data-slide-to="0" class="active"></li>
        <li data-target="#fw_al_007" data-slide-to="1"></li>
        <li data-target="#fw_al_007" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

        <!-- First Slide -->
        <div class="carousel-item active">

            <!-- Slide Background -->
            <img src="../../../../assets/carousel1.jpg" alt="fw_al_007_01">

            <!-- Slide Text Layer -->
            <div class="fw_al_007_slide">
                <h3 data-animation="animated flipInX">my restaraunt</h3>
                <h1 data-animation="animated flipInX"><span>AWESOME</span> Food</h1>
                <p data-animation="animated flipInX"></p>
                <a [routerLink]="['/our-menu']" routerLinkActive="router-link-active"  data-animation="animated flipInX">Our Menu</a>
            </div>
        </div>
        <div class="carousel-item">

            <!-- Slide Background -->
            <img src="../../../../assets/carousel2.jpg" alt="fw_al_007_02">

            <!-- Slide Text Layer -->
            <div class="fw_al_007_slide">
                <h3 data-animation="animated flipInX">Reservations</h3>
                <h1 data-animation="animated flipInX"><span>Reserve</span> your table</h1>
                <p data-animation="animated flipInX">Reservation feature coming soon ...</p>
                <a aria-disabled="true" href="/" data-animation="animated flipInX">Reserve Table</a>
            </div>

        </div>
        <div class="carousel-item">

            <!-- Slide Background -->
            <img src="../../../../assets/carousel3.jpg" alt="fw_al_007_03">

            <!-- Slide Text Layer -->
            <div class="fw_al_007_slide">
                <h3 data-animation="animated flipInX">Event's</h3>
                <h1 data-animation="animated flipInX"><span>Catering</span> Service</h1>
                <p data-animation="animated flipInX">Catering and Events
                </p>
                <a [routerLink]="['/catering']" routerLinkActive="router-link-active"  data-animation="animated flipInX">Catering</a>
            </div>
        </div>
    </div>