<div class="home-feature-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a [routerLink]="['/catering']" routerLinkActive="router-link-active" >
                    <img class="rounded img-fluid home-feature-imge" data-aos="flip-up"
                    data-aos-duration="900" data-aos-delay="100"
                    src="../../../../assets/Catering.jpg">
                </a>
                <h3 class="text-center" style="font-family: Poppins, sans-serif;">Catering Service</h3>
                <p class="text-center">Ordering is simple and fast<br><br></p>
            </div>
            <div class="col-md-6">
                <a [routerLink]="['/our-menu']" routerLinkActive="router-link-active" >
                        <img class="rounded img-fluid home-feature-imge" data-aos="flip-down"
                    data-aos-duration="900" data-aos-delay="100"
                    src="../../../../assets/MenuImg.jpg">
                </a>
                <h3 class="text-center" style="font-family: Poppins, sans-serif;">Delicious Food</h3>
                <p class="text-center">Fresh, Healthy food options!</p>
            </div>
        </div>
    </div>
</div>
<!-- <section style="background-color: #d9d9d9;">
    <h1 class="text-center menu-heading-1" style="color: rgb(241,60,71);font-family: Courgette, cursive;">Discover<br>
    </h1>
    <h1 class="text-center" style="color: rgb(0,0,0);font-family: Poppins, sans-serif;">Our Menu<br></h1>
    <div class="container our-menu-container">
        <div class="row">
            <div class="col-md-4 our-menu-image"><img class="rounded img-fluid our-menu-image"
                    src="https://scontent.fcbr2-1.fna.fbcdn.net/v/t1.0-9/55448467_567391420447935_4394288208561569792_n.jpg?_nc_cat=106&_nc_oc=AQmp0CXW8WEWi96Ge0D7O0EhRnG9-7qjb1oyDBzjoEKuHwYc6Savtbz4rIiDTghGMv0&_nc_ht=scontent.fcbr2-1.fna&oh=5da21644c0f4a97f50fe88d09355d45d&oe=5DFEE5CB" width="300px"><button
                    class="btn btn-primary our-menu-btn" type="button">Breakfast</button></div>
            <div class="col-md-4"><img class="rounded img-fluid our-menu-image"
                    src="https://scontent.fcbr2-1.fna.fbcdn.net/v/t1.0-9/36826290_406846389835773_8477994636026052608_n.jpg?_nc_cat=110&_nc_oc=AQk3B9Ay3ErnX0_J2GWfWQua2BayxK8LL-V6bFgiEkJaDxGCE8nfq3MhXyRgE8cCfSQ&_nc_ht=scontent.fcbr2-1.fna&oh=c3a8ff20357d5491640efe56320ddca6&oe=5E001B20" width="300px"><button
                    class="btn btn-primary our-menu-btn" type="button">Lunch</button></div>
            <div class="col-md-4"><img class="rounded img-fluid our-menu-image"
                    src="https://scontent.fcbr2-1.fna.fbcdn.net/v/t1.0-9/19399827_222266468293767_5293410222836914583_n.jpg?_nc_cat=111&_nc_oc=AQmjegahJcOMqXC25pYJbpXCMGkEBf4RT7Y1mTgazdfNogACwkF0HFNS7geCvRoO9f0&_nc_ht=scontent.fcbr2-1.fna&oh=fe36d3add96930c6a110904abfd26906&oe=5E0064C0" width="300px"><button
                    class="btn btn-primary our-menu-btn" type="button">Cofee</button></div>
        </div>
    </div>
</section> -->
