<div class="jumbotron header-jumbotron-display" style="height: 250px;">
    <h1 class="text-center jumbotron-header" style="font-family: Poppins, sans-serif;color: rgb(246,247,248);">Our Menu
    </h1>
    <p></p>
</div>
<h1 class="text-center" style="color: rgb(215,8,8);font-family: Courgette, cursive;">Fan Favorite</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div>
                <h3 style="font-family: Poppins, sans-serif;">Breakfast<br></h3>
                <div *ngFor="let menu of breakfastList" class="row">
                    <div class="col-md-8">
                        <p style="font-family: Poppins, sans-serif;">
                            <b>{{menu.name}}</b>
                            <br>
                            {{menu.description}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-right" style="font-family: Poppins, sans-serif;">{{menu.price| currency}}<br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div>
                <h3 style="font-family: Poppins, sans-serif;">Salads<br></h3>
                <div *ngFor="let menu of saladsList" class="row">
                    <div class="col-md-8">
                        <p style="font-family: Poppins, sans-serif;">
                            <b>{{menu.name}}</b>
                            <br>
                            {{menu.description}}
                        </p>

                    </div>
                    <div class="col-md-4">
                        <p class="text-right">{{menu.price| currency}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div>
                <h3 style="font-family: Poppins, sans-serif;">Pasta</h3>
                <div *ngFor="let menu of pastaList" class="row">
                    <div class="col-md-8">
                        <p style="font-family: Poppins, sans-serif;">
                            <b>{{menu.name}}</b>
                            <br>
                            {{menu.description}}
                        </p>
                    </div>
                    <div class="col-md-4">

                        <p class="text-right">{{menu.price| currency}}</p>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div>
                <h3 style="font-family: Poppins, sans-serif;">Burgers</h3>
                <div *ngFor="let menu of burgersList" class="row">
                    <div class="col-md-8">
                        <p style="font-family: Poppins, sans-serif;">
                            <b>{{menu.name}}</b>
                            <br>
                            {{menu.description}}
                        </p>
                    </div>
                    <div class="col-md-4">

                        <p class="text-right">{{menu.price| currency}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>