<div class="jumbotron header-jumbotron-display" style="height: 250px;">
    <h1 class="text-center jumbotron-header" style="font-family: Poppins, sans-serif;color: rgb(246,247,248);">Our Menu
    </h1>
    <p></p>
</div>
<div class="container">
    <div *ngIf="menuLoading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="!menuLoading" class="row">
        <div class="col-sm-6 col-md-6">
            <div>
                <h3 style="font-family: Poppins, sans-serif;">Breakfast<br></h3>
                <div *ngFor="let menu of breakfastList" class="row">
                    <div class="col-md-8">
                        <p style="font-family: Poppins, sans-serif;">
                            <b>{{menu.name}}</b>
                            <br>
                            {{menu.description}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-right" style="font-family: Poppins, sans-serif;">{{menu.price| currency}}<br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <h3 style="font-family: Poppins, sans-serif;">Lunch<br></h3>
                <div>
                    <!-- <h5 style="font-family: Poppins, sans-serif;">Salads<br></h5> -->
                    <div *ngFor="let menu of saladsList" class="row">
                        <div class="col-md-8">
                            <p style="font-family: Poppins, sans-serif;">
                                <b>{{menu.name}}</b>
                                <br>
                                {{menu.description}}
                            </p>

                        </div>
                        <div class="col-md-4">
                            <p class="text-right">{{menu.price| currency}}</p>
                        </div>
                    </div>
                    <div *ngFor="let menu of pastaList" class="row">
                        <div class="col-md-8">
                            <p style="font-family: Poppins, sans-serif;">
                                <b>{{menu.name}}</b>
                                <br>
                                {{menu.description}}
                            </p>
                        </div>
                        <div class="col-md-4">

                            <p class="text-right">{{menu.price| currency}}</p>

                        </div>

                    </div>
                    <div *ngFor="let menu of burgersList" class="row">
                        <div class="col-md-8">
                            <p style="font-family: Poppins, sans-serif;">
                                <b>{{menu.name}}</b>
                                <br>
                                {{menu.description}}
                            </p>
                        </div>
                        <div class="col-md-4">

                            <p class="text-right">{{menu.price| currency}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>