<div class="jumbotron header-jumbotron-display" style="height: 250px;"
    [ngStyle]="{'background-image': 'url(../../../../../../assets/gallery-header-image.jpg)' }">
    <h1 class="text-center jumbotron-header" style="font-family: Poppins, sans-serif;color: rgb(246,247,248);">Gallery
    </h1>
    <p></p>
</div>
<div class="container">
    <div class="intro">
        <h2 class="text-center" style="font-family: Poppins, sans-serif;">Blackstone Gallery</h2>
        <p class="text-center">

        </p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div *ngIf="imageLoading" class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
    </div>
</div>
<app-footer></app-footer>