    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <h2 class="h4" style="font-family: Poppins, sans-serif;"><i class="fa fa-user"></i> Our Info</h2>
                            <div><span><strong>Blackstone Cafe</strong></span></div>
                            <div><span>E-mail: </span>blackstonecafe@icloud.com</div>
                            <div><span>Phone No: </span>(02) 6249 9149</div>
                            <hr class="d-sm-none d-md-block d-lg-none">
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <h2 class="h4" style="font-family: Poppins, sans-serif;"><i class="fa fa-location-arrow"></i> Our Address</h2>
                            <div><span>CnrJerrabomberra Ave & Hindmarsh Dr, Symonston ACT 2609</span></div>
                            <hr class="d-sm-none">
                        </div>
                        <div class="col contact-social-icons">
                            <div>
                                <a role="button" class="btn btn-primary" target="_" href="https://www.facebook.com/BlackstoneCafeGeoscience/"><i class="fa fa-facebook"></i> Like us on Facebook</a>
                                <a role="button" class="btn btn-danger" href="https://www.instagram.com/blackstonecafegeoscience/" target="_"><i class="fa fa-instagram"></i> Follow us on Instagram</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form method="post">
                        <h2 class="text-center" style="font-family: Poppins, sans-serif;">Contact us</h2>
                        <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                        <div class="form-group"><input class="form-control" type="email" placeholder="Email"></div>
                        <div class="form-group"><input class="form-control" type="tel" placeholder="Contact Phone"></div>
                        <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
                        <div class="form-group"><button disabled class="btn btn-primary" type="submit">send </button></div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="intro">
                        <h2 class="text-center" style="font-family: Poppins, sans-serif;">Location: CnrJerrabomberra Ave & Hindmarsh Dr, Symonston ACT 2609</h2>
                    </div><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDQhYwAKBz54w4vtqdKkTEYzSk0mcClCDQ&amp;q=canberra%2C+australia&amp;zoom=15" width="100%" height="450"></iframe></div>
            </div>
        </div>
    </div>