<div class="alert alert-success text-center" role="alert">
        <h1>COVID-19 UPDATE</h1>
<p>{{date | date}}</p>
        <br>
        WE ARE OPEN FOR TAKEAWAY SERVING COFFEE, BREAKFAST AND LUNCH - TAKEAWAY ONLY.  WE WILL KEEP YOU POSTED ON ANY OTHER CHANGES BUT IN THE MEANTIME BE RESPONSIBLE, DON'T PANIC AND LET'S TAKE CARE OF EACH OTHER. 
</div>
<div class="container .home-section-1">
    <div class="row">
        <div class="col-md-12"><img class="p-5 mt-4" src="../../../../assets/icon.png" width="100%" height="10vh">
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style="font-family: Poppins, sans-serif;">About us</h1>
                <p>Blackstone Café is a modern eatery located on the Ground Floor of the Geoscience Australia Building
                    in Symonston.
                    The café is open Monday to Friday from 7 am to 4 pm.
                </p>
                <p [hidden]="!show">
                    Lunch at Blackstone Cafe is whatever you choose it to be: whether it is a healthy, tasty takeaway
                    meal or a dine-in gourmet lunch, the options are varied.
                    Blackstone Cafe’s commitment is to provide quality food and excellent customer service in a relaxed
                    and friendly ambience. Blackstone Cafe also offers an extensive and flexible catering menu. We are
                    able to provide food of the finest quality and presentation delivered to your location. We know that
                    your time is valued, so why not order online.
                </p>
                <p class="text-center"><button [hidden]="show" (click)="onClick()" class="btn btn-secondary btn-sm"
                        type="button">More About
                        us</button></p>

            </div>
        </div>
    </div>
</div>