<mat-toolbar [hidden]="!isLoggedIn" color="primary">
        <h3>Blackstone</h3>
        <span class="example-spacer"></span>
        <span [hidden]="!isLoggedIn" [routerLink]="['/image']" routerLinkActive="router-link-active"><a
                        mat-button>Gallery</a></span>
        <span [hidden]="!isLoggedIn" [routerLink]="['/menu']" routerLinkActive="router-link-active"><a
                        mat-button>Menu</a></span>
        <span [hidden]="!isLoggedIn" [routerLink]="['/category-list']" routerLinkActive="router-link-active"><a
                        mat-button>Category</a></span>
        <span [hidden]="!isLoggedIn"><a mat-button [routerLink]="['/catering']"
                        routerLinkActive="router-link-active">Catering</a></span>
        <span [hidden]="!isLoggedIn"><a mat-button (click)="logout()">Logout</a></span>
</mat-toolbar>
<nav [hidden]="isLoggedIn" class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="row full-width blacstone-nav">
                <a class="navbar-brand" href="#" style="font-family: Poppins, sans-serif;font-size: 30px;">Blackstone
                        Cafe</a>
                <button data-toggle="collapse" class="navbar-toggler collapsed" data-target="#navcol-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div>
                        <div class="navbar-collapse collapse" id="navcol-1">
                                <ul class="nav navbar-nav ml-auto">
                                        <li class="nav-item" role="presentation">
                                                <a class="nav-link" style="font-size: 20px;"
                                                        [routerLink]="['/our-menu']"
                                                        routerLinkActive="router-link-active">Our Menu</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                                <a style="font-size: 20px" class="dropdown-item" role="presentation" [routerLink]="['/gallery']"
                                                        routerLinkActive="router-link-active">Gallery</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                                <a href="#" style="font-size: 20px;">Catering</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                                <a class="nav-link" href="#" style="font-size: 20px;">Contact us</a>
                                        </li>

                                </ul>
                        </div>
                </div>

        </div>

</nav>