    <div class="row">
        <div class="col" style="background-color: #d9d9d9;">
            <h1 class="text-center call-to-action-booking" style="font-family: Poppins, sans-serif;background-color: #d9d9d9;">Reserve a table&nbsp;&nbsp;</h1>
            <p class="text-center" style="font-family: Courgette, cursive;"><br>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s<br></p>
            <div class="text-center home-modal-button-reservation"><a class="btn btn-primary btn-lg" role="button" data-toggle="modal" href="#myModal">Book a Table</a>
                <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Reserve A Table</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                            <div class="modal-body">
                                <p class="text-center text-muted"></p>
                                <div class="form-group">
                                    <form><input class="border rounded-0 form-control" type="text" placeholder="Your Name"></form>
                                </div>
                                <div class="form-group">
                                    <form><input class="border rounded form-control" type="email" placeholder="Email"></form>
                                </div>
                                <div class="form-group">
                                    <form><input class="form-control" type="tel" placeholder="Contact Phone"></form>
                                </div>
                                <div class="form-group text-left"><input type="number" value="Person" placeholder="No. of People" min="1" max="20" style="width: 100%;"></div>
                                <div class="form-group text-left"><div>
<input placeholder="time" type="time" id="appt" name="appt"
       min="9:00" max="18:00" style="width: 100%;"  required>
    <p>Time</p>
</div></div>
                                <div class="form-group text-left"><input type="date"></div>
                            </div>
                            <div class="modal-footer"><button class="btn btn-danger" data-dismiss="modal" type="button">Cancel</button><button class="btn btn-primary" type="button">Book</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>