<footer>
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>

                <a target="_" class="btn btn-secondary" role="button"
                    href="https://www.google.com/maps/dir/-35.1880863,149.1446448/blackstone+cafe+address/@-35.2637872,149.071158,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x6b164c6312f0724d:0x23f79717fdbcb1a7!2m2!1d149.1542713!2d-35.3431678">Get
                    Directions</a>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <a role="button" class="btn btn-secondary" href="tel:0234 123456">Call Cafe</a>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <a role="button" class="btn btn-secondary" href="mailto:blackstonecafe@icloud.com">E-mail</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 footer-about">
            <h4>About Blackstone</h4>
            <p>Blackstone Cafe’s commitment is to provide quality food and excellent customer service in a relaxed and
                friendly ambience</p>
            <div class="social-links social-icons">
                <a style="background-color: cornflowerblue" target="_blank"
                    href="https://www.facebook.com/BlackstoneCafeGeoscience/"><i class="fa fa-facebook"></i></a>
                <a style="background-color: brown" target="_blank"
                    href="https://www.instagram.com/blackstonecafegeoscience/"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a href="#"><span><img class="footer-icon" src="../../../../assets/blackstoneicon2.png"></span></a></h3>
            <p class="links">
            </p>
            <p class="company-name">Blackstone © 2019</p>
        </div>
    </div>
</footer>